<div class="flex items-center gap-1.5 bg-gray-50 rounded border-gray-500 pr-1" :class="widthClass">
  <el-button
    type="default"
    size="small"
    plain
    circle
    @click.stop="handlePlayClick"
    :disabled="disabled"
    class="!w-6 !h-6 !p-0 flex-shrink-0 mr-1">
    <span v-if="isPlaying">⏹</span>
    <el-icon v-else class="!w-3 !h-3"><Headset /></el-icon>
  </el-button>
  <el-slider
    :model-value="progress"
    :min="0"
    :max="100"
    :step="0.1"
    size="small"
    class="flex-1 min-width-[10px] player-slider"
    :show-tooltip="false"
    :disabled="!isPlaying || disabled"
    @change="handleSeek"
    @input="handleSeek"
    @click.stop>
  </el-slider>
  <span class="text-xs text-gray-600 flex-shrink-0 min-width-[35px]">
    {{ formattedDuration }}
  </span>
</div>
