/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-gray: #b5b1b1;
  --color-main-bg: rgb(244, 245, 231);
}

.transparent::part(background) {
  background: transparent !important;
}

.transparent {
  --background: transparent !important;
}

.main-bg {
  background: var(--color-main-bg);
}

.main-bg::part(background) {
  background: var(--color-main-bg);
}

.height-0-block {
  display: block;
  height: 0;
  overflow: hidden;
}

.text-line-through {
  text-decoration: line-through;
}

ion-content::part(background) {
  background: var(--color-main-bg);
}

.v-dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
  margin-top: 0px;
  position: relative;
  top: 1px;
}

ion-modal::part(content) {
  --border-radius: 16px;
}

/* 隐藏滚动条 */
ion-content::part(scroll)::-webkit-scrollbar {
  display: none;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.gray {
  color: var(--color-gray) !important;
}

.bottom-modal ion-footer {
  display: flex;
  justify-content: space-around;
}

.bottom-modal::part(backdrop) {
  background-color: var(--ion-color-dark) !important;
  opacity: 0.4 !important;
}

.backdrop::part(backdrop) {
  background-color: var(--ion-color-dark) !important;
  opacity: 0.4 !important;
}

.bottom-modal {
  /* --max-height: 50%; */
  --width: 95%;
  --height: auto;
  align-items: end;
  padding-bottom: var(--ion-safe-area-bottom);
}

.pre-img-block {
  display: flex;
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: center;
  margin-right: 1px;
  font-size: 5em;
  border: 1px solid #0054e9;
  overflow: hidden;
}

.pre-img-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0 5px;
}

ion-radio {
  --border-radius: 4px;
  --inner-border-radius: 4px;

  --color: #ddd;
  --color-checked: #6815ec;
}

ion-radio.ios::part(container) {
  width: 20px;
  height: 20px;

  border: 2px solid #ddd;
  border-radius: 4px;
}

.radio-checked.ios::part(container) {
  border-color: #6815ec;
}

.no-ico::part(icon) {
  display: none;
}
