/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

.transparent {
  --background: transparent !important;
}

.width-100 {
  width: 100% !important;
}
.flex {
  display: flex;
}

.height-0-block {
  display: block;
  height: 0;
  overflow: hidden;
}
.text-line-through {
  text-decoration: line-through;
}

ion-content::part(background) {
  background: rgb(244, 245, 231);
}
