<el-dialog
  :model-value="visible"
  title="Cron 执行时间预览"
  width="500"
  @update:model-value="$emit('update:visible', $event)"
  :before-close="handleClose">
  <div v-if="times && times.length > 0">
    <div class="text-sm text-gray-600 mb-3">下5次执行时间：</div>
    <el-timeline>
      <el-timeline-item
        v-for="(time, index) in times"
        :key="index"
        :timestamp="time"
        placement="top">
        <div class="font-medium">第 {{ index + 1 }} 次执行</div>
      </el-timeline-item>
    </el-timeline>
  </div>
  <div v-else class="text-center text-gray-400 py-4">无法解析 Cron 表达式，请检查格式是否正确</div>
</el-dialog>
