<div class="">
  <el-table :data="userList" stripe class="w-full" v-loading="loading">
    <template #default="scope">
      <el-table-column prop="id" label="ID" width="80" />
      <el-table-column label="Icon" width="100">
        <template #default="scope">
          <el-avatar :src="scope.row.icon" />
        </template>
      </el-table-column>
      <el-table-column prop="name" label="Name" width="100" />
      <el-table-column prop="admin" label="Admin" width="100" class="items-center text-center" />
      <el-table-column
        label="WProgress"
        width="120"
        class="items-center text-center">
        <template #default="{ row, $index }">
          <el-progress :text-inside="true" :stroke-width="26" :percentage="row.wish_progress" />
        </template>
      </el-table-column>
      <el-table-column
        prop="wish_list"
        label="WList"
        width="100"
        class="items-center text-center">
      </el-table-column>
      <el-table-column prop="score" label="Score" width="100">
        <template #default="{ row, $index }">
          <el-input v-model="row.score" size="small" />
        </template>
      </el-table-column>
      <el-table-column label="Operations">
        <template #default="{row, $index}">
          <el-button class="w-16" @click="handleUpdateUser(row)" type="primary"> Update </el-button>
          <el-button class="w-16" @click="onAddScoreBtnClick(row)"> Score </el-button>
        </template>
      </el-table-column>
    </template>
  </el-table>
  <el-dialog
    v-model="dialogForm.visible"
    title="Change Score"
    width="600"
    :before-close="handleDialogClose">
    <span>输入的积分会作用在当前积分上，输入负数则会减少积分</span>
    <div>{{dialogForm.data.name}} 当前积分: {{dialogForm.data.score}}</div>
    <div class="flex mt-4">
      <el-input v-model="dialogForm.value" style="width: 240px" placeholder="Please input" />

      <el-button class="w-16" @click="handleAddScore()" class="ml-2" type="primary">
        Submit
      </el-button>
    </div>
  </el-dialog>
</div>
